html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
}

#prof-pic {
    border-radius: 50%
}

.wrapper {
    flex-direction: row;
    max-width: 50%;
    display: flex;
    height: 80%;
}

.my-name {
    margin: 10px;
    padding: 10px;
}

.bio {
    margin: 10px;
    padding: 10px;
}

.navi {
    margin: 10px;
    padding: 10px;
}
/* color: blue;
background: yellow; */
/* .rs {
    display: flex;
    height: 50%;
    width: 50%;
} */